In [5]:
import pandas as pd
conditions = ["confirmed","deaths","recovered"]

def make_global_df():
    def make_df(condition):    
        df = pd.read_csv("data/confirmed_global.csv")
        df = df.drop(columns=["Province/State","Country/Region","Lat","Long"],axis =1).sum().reset_index(name=condition)
        df = df.rename(columns={'index':"date"})
        return df
    final_df = None
    for condition in conditions:
        condition_df = make_df(condition)
        if final_df is None:
            final_df = condition_df
        else:
            final_df = final_df.merge(condition_df)
    return final_df

global_df = make_global_df()
global_df

        date  confirmed     deaths  recovered
0    1/22/20        557        557        557
1    1/23/20        655        655        655
2    1/24/20        941        941        941
3    1/25/20       1433       1433       1433
4    1/26/20       2118       2118       2118
..       ...        ...        ...        ...
497   6/2/21  171680812  171680812  171680812
498   6/3/21  172169929  172169929  172169929
499   6/4/21  172589646  172589646  172589646
500   6/5/21  172987591  172987591  172987591
501   6/6/21  173310648  173310648  173310648

[502 rows x 4 columns]